<h3>Add a new Category</h3>
<form method = "post" action = "/add/category">
	<label for="addCategory"><p> Category name:</p></label>
	<input type = "text" name = "addCategory" id = "addCategory">

	<input type="submit" value="save">
</form>