<for (blogPost in input.posts)>
	$ var href = `show/${blogPost.id}`;
	<a href=href>
		<div class="singlePost">
			<h3>${blogPost.postTitle}</h3>
			<div class = "singlePostBody" >
				$ var href = `/show/${blogPost.postCategory}`
				<p>By ${blogPost.postAuthor} in <a href=href>${blogPost.postCategory}</a></p>
				<div>
					<p>${blogPost.postBody}</p>
				</div>
			</div>
		</div>
		
	</a>
</for>